# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
app/.env
functions/.env

# Firebase
.firebase/
functions/.runtimeconfig.json
functions/lib/

# Service account keys
*.json
!package*.json
!tsconfig.json
!firebase.json
!firestore.indexes.json

# typescript
*.tsbuildinfo
.vercel
